.env
venv
*.pyc
staticfiles
.env
default.example
.DS_Store
bin
include
lib
pyvenv.cfg
pip-selfcheck.json
.idea
static/assets
static/admin/
static/ckeditor
__pycache__
juntan/juntan.iml
portfolio/portfolio.iml
site.iml
static/static.iml
node_modules
