{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Archive | Jun Tan{% endblock %}

{% block content %}
    <div class="container">
        <div class="columns">
            <div class="column col-2 col-sm-6 col-mr-auto">
                <span class="name highlight">Jun Tan</span>
            </div>
            <div class="home__container column col-2 col-sm-6">
                <a href="/">Home</a>
            </div>
        </div>
        <div class="columns">
            <div class="archive column col-12">
                <h1>Archive</h1>
                <h3>Digital</h3>
                <div class="category__row columns" id="digital">
                    {% for item in digital %}
                        <a {% if item.external_link %}
                            href="{{ item.external_link }}"
                            target="_blank"
                            rel="nofollow noopener"
                        {% else %}
                            href="/posts/{{ item.slug }}"
                        {% endif %} class="category__item column col-4 col-sm-12">
                            <img src="data:image/gif;base64,R0lGODlhAQABAIAAAMLCwgAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" class="category__image lazy" data-src="https://s3.amazonaws.com/juntan-portfolio/{{ item.thumbnail }}">
                            <p class="category__title">{{ item.title }}</p>
                        </a>
                    {% endfor %}
                </div>
                <h3>Analog</h3>
                <div class="category__row columns" id="analog">
                    {% for item in analog %}
                        <a {% if item.external_link %}
                            href="{{ item.external_link }}"
                            target="_blank"
                            rel="nofollow noopener"
                        {% else %}
                            href="/posts/{{ item.slug }}"
                        {% endif %} class="category__item column col-4 col-sm-12">
                            <img src="data:image/gif;base64,R0lGODlhAQABAIAAAMLCwgAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" class="category__image lazy" data-src="https://s3.amazonaws.com/juntan-portfolio/{{ item.thumbnail }}">
                            <p class="category__title">{{ item.title }}</p>
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'js/bundle.min.js' %}"></script>
    <script src="{% static 'js/app.js' %}"></script>
{% endblock %}