{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}archive | jun tan{% endblock %}

{% block content %}
    <div class="container">
        <div class="row flex-container align-spaced">
            <!-- Header -->
            <div class="columns large-6 medium-6 small-12 flex-container align-start flex-dir-column container container--text container--align-left">
                <h1 class="heading heading--name">all the things i've done</h1>
            </div>
            <div class="columns large-6 medium-6 small-12 flex-container align-end flex-dir-column container container--align-right">
                <a href="/" class="button button--home">home</a>
            </div>
        </div>
        <div class="row flex-container row__archive">
            <div class="columns large-12">
                <h3>code</h3>
                <div class="flex-container align-start align-top container container--portfolio container--portfolio__archive">
                    {% if not code %}
                        <p class="body body--large">nothing to see here.</p>
                    {% else %}
                        {% for item in code %}
                            <a href="{% if item.external_link %} {{ item.external_link }} {% else %} /posts/{{ item.slug }} {% endif %}"
                                    {% if item.external_link %} target="_blank" rel="noopener noreferrer" {% endif %}
                               class="columns large-4 medium-6 small-12 container--item"
                               style="background-image:url(https://s3.amazonaws.com/juntan-portfolio/{{ item.thumbnail }})">
                                <!-- FIXME this is gonna break -->
                            </a>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
            <div class="columns large-12">
                <h3>design</h3>gi
                <div class="flex-container align-start align-top container container--portfolio container--portfolio__archive">
                    {% if not design %}
                        <p class="body body--large">nothing to see here.</p>
                    {% else %}
                        {% for item in design %}
                            <a href="{% if item.external_link %} {{ item.external_link }} {% else %} /posts/{{ item.slug }} {% endif %}"
                                    {% if item.external_link %} target="_blank" rel="noopener noreferrer" {% endif %}
                               class="columns large-4 medium-6 small-12 container--item"
                               style="background-image:url(https://s3.amazonaws.com/juntan-portfolio/{{ item.thumbnail }})">
                                <!-- FIXME this is gonna break -->
                            </a>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
            <div class="columns large-12">
                <h3>photo</h3>
                <div class="flex-container align-start align-top container container--portfolio container--portfolio__archive">
                    {% if not photo %}
                        <p class="body body--large">nothing to see here.</p>
                    {% else %}
                        {% for item in photo %}
                            <a href="{% if item.external_link %} {{ item.external_link }} {% else %} /posts/{{ item.slug }} {% endif %}"
                                    {% if item.external_link %} target="_blank" rel="noopener noreferrer" {% endif %}
                               class="columns large-4 medium-6 small-12 container--item"
                               style="background-image:url(https://s3.amazonaws.com/juntan-portfolio/{{ item.thumbnail }})">
                                <!-- FIXME this is gonna break -->
                            </a>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}