<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    {% load sass_tags %}
    {% load staticfiles %}
    <link rel="stylesheet" href="{% sass_src 'css/custom_foundation.scss' %}">
    <link rel="stylesheet" href="{% sass_src 'css/main.scss' %}">
</head>
<body>
{% block content %}
{% endblock %}
<div class="footer flex-container align-center-middle">
    <p class="footer-text">jun tan, 2017</p>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.0/js/foundation.min.js"></script>
</body>
</html>