<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    {% load sass_tags %}
    {% load static %}
    <link rel="stylesheet" href="{% sass_src 'css/custom_foundation.scss' %}">
    <link rel="stylesheet" href="{% sass_src 'css/main.scss' %}">
</head>
<body>
<div class="container">
    <nav class="top-bar" data-topbar role="navigation">
        <section class="top-bar-section flex-container align-right align-middle">
            <!-- Right Nav Section -->
            <ul class="right top-bar__links flex-container flex-dir-row align-right align-middle">
                <li class="top-bar__link">
                    <a href="#work">Work</a>
                </li>
                <li class="top-bar__link">
                    <a href="#about">About</a>
                </li>
            </ul>
        </section>
    </nav>
    {% block content %}
    {% endblock %}
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.0/js/foundation.min.js"></script>
</body>
</html>