{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Jun Tan{% endblock %}

{% block content %}
<div class="row jumbotron">
    <div class="columns small-12 flex-container align-justify align-middle align-dir-row jumbotron-content__container">
        <div class="columns large-6 medium-6 small-12 flex-container align-right align-top logo__container">
            <div class="logo__container--animated flex-container align-center-middle">
                <span class="logo__item" id="logo__item--1">J</span>
                <span class="logo__item" id="logo__item--2">J</span>
                <span class="logo__item" id="logo__item--3">J</span>
            </div>
            <h1 class="logo__text"> UN TAN</h1>
        </div>
        <div class="columns large-6 medium-6 small-12 flex-container align-dir-column align-top align-center callout-circle__container callout-circle__container--homepage">
            <div class="callout-circle callout-circle__homepage flex-container flex-dir-column align-center align-start">
                <h2 class="callout-circle__text">full-stack developer</h2>
                <h2 class="callout-circle__text">visual designer</h2>
                <h2 class="callout-circle__text">photojournalist</h2>
                <p class="callout-circle__text callout-circle__text--small">& a junior at ut austin</p>
            </div>
        </div>
    </div>
</div>
<div class="row row__homepage row__introduction" id="work">
    <div class="columns small-12 medium-12 large-6">
        <h1 class="homepage-header">My Work</h1>
        <p class="homepage-copy">{{ user.work_description }}</p>
    </div>
</div>
<div class="row row__homepage row__code">
    <div class="columns small-12 medium-12 large-12">
        <div class="homepage-header__container flex-container align-middle align-justify">
            <div class="homepage-header__left flex-container align-justify align-middle">
                <h2 class="homepage-header">Code</h2>
                <a href="#" class="button button-primary homepage-header__button flex-container align-center-middle">
                    <i class="fi-plus homepage-header__button--icon"></i>
                </a>
            </div>
            <a href="#" class="homepage-header__link">Show All</a>
        </div>
    </div>
    <div class="columns small-12 medium-12 large-12 homepage-item__container flex-container align-justify">
        <div class="homepage-item flex-container flex-dir-column">
            <div class="homepage-item__thumbnail"></div>
            <h5 class="homepage-item__title">A project or a blog post</h5>
            <p class="homepage-item__date">July 21, 2017</p>
        </div>
        <div class="homepage-item flex-container flex-dir-column">
            <div class="homepage-item__thumbnail"></div>
            <h5 class="homepage-item__title">A project or a blog post</h5>
            <p class="homepage-item__date">July 21, 2017</p>
        </div>
        <div class="homepage-item flex-container flex-dir-column">
            <div class="homepage-item__thumbnail"></div>
            <h5 class="homepage-item__title">A project or a blog post</h5>
            <p class="homepage-item__date">July 21, 2017</p>
        </div>
    </div>
</div>
<div class="row row__homepage row__design">
    <div class="columns small-12 medium-12 large-12">
        <div class="homepage-header__container flex-container align-middle align-justify">
            <div class="homepage-header__left flex-container align-justify align-middle">
                <h2 class="homepage-header">Design</h2>
                <a href="#" class="button button-primary homepage-header__button flex-container align-center-middle">
                    <i class="fi-plus homepage-header__button--icon"></i>
                </a>
            </div>
            <a href="#" class="homepage-header__link">Show All</a>
        </div>
    </div>
    <div class="columns small-12 medium-12 large-12 homepage-item__container flex-container align-justify">
        <div class="homepage-item flex-container flex-dir-column">
            <div class="homepage-item__thumbnail"></div>
            <h5 class="homepage-item__title">A project or a blog post</h5>
            <p class="homepage-item__date">July 21, 2017</p>
        </div>
        <div class="homepage-item flex-container flex-dir-column">
            <div class="homepage-item__thumbnail"></div>
            <h5 class="homepage-item__title">A project or a blog post</h5>
            <p class="homepage-item__date">July 21, 2017</p>
        </div>
        <div class="homepage-item flex-container flex-dir-column">
            <div class="homepage-item__thumbnail"></div>
            <h5 class="homepage-item__title">A project or a blog post</h5>
            <p class="homepage-item__date">July 21, 2017</p>
        </div>
    </div>
</div>
<div class="row row__homepage row__photography">
    <div class="columns small-12 medium-12 large-12">
        <div class="homepage-header__container flex-container align-middle align-justify">
            <div class="homepage-header__left flex-container align-justify align-middle">
                <h2 class="homepage-header">Photography</h2>
                <a href="#" class="button button-primary homepage-header__button flex-container align-center-middle">
                    <i class="fi-plus homepage-header__button--icon"></i>
                </a>
            </div>
            <a href="#" class="homepage-header__link">Show All</a>
        </div>
    </div>
    <div class="columns small-12 medium-12 large-12 homepage-item__container flex-container align-justify ">
        <div class="homepage-item flex-container flex-dir-column">
            <div class="homepage-item__thumbnail"></div>
            <h5 class="homepage-item__title">A project or a blog post</h5>
            <p class="homepage-item__date">July 21, 2017</p>
        </div>
        <div class="homepage-item flex-container flex-dir-column">
            <div class="homepage-item__thumbnail"></div>
            <h5 class="homepage-item__title">A project or a blog post</h5>
            <p class="homepage-item__date">July 21, 2017</p>
        </div>
        <div class="homepage-item flex-container flex-dir-column">
            <div class="homepage-item__thumbnail"></div>
            <h5 class="homepage-item__title">A project or a blog post</h5>
            <p class="homepage-item__date">July 21, 2017</p>
        </div>
    </div>
</div>
<div class="row row__homepage row__about flex-container align-center" id="about">
    <div class="columns small-12 medium-12 large-10 homepage-about__container">
        <h2 class="homepage-header">About Me</h2>
        <div class="flex-container">
            <div class="columns small-12 medium-12 large-4 homepage-avatar__container">
                <img src="{% static 'assets/avatar.png' %}" alt="Jun Tan" class="homepage-avatar">
            </div>
            <div class="columns small-12 medium-12 large-8">
                <p class="homepage-copy homepage-copy__bio">{{ user.about }}</p>
                <div class="homepage-resume__container flex-container align-middle">
                    <a href="#"
                       class="button button-primary homepage-header__button homepage-header__button-resume flex-container align-center-middle">
                        <i class="fi-plus homepage-header__button--icon"></i>
                    </a>
                    <span id="homepage-resume">My Resume</span>
                </div>
                <p><a href="mailto:{{ user.email }}" target="_blank" rel="noopener noreferrer" class="homepage-contact__link">Email</a></p>
                <p><a href="{{ user.github }}" target="_blank" rel="noopener noreferrer" class="homepage-contact__link">GitHub</a></p>
                <p><a href="{{ user.instagram }}" target="_blank" rel="noopener noreferrer" class="homepage-contact__link">Instagram</a>
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}