{% extends 'base.html' %}

{% block title %}Jun Tan{% endblock %}

{% block content %}
    <div class="row jumbotron">
        <div class="columns small-12 flex-container align-justify align-middle align-dir-row">
            <div class="columns large-6 medium-6 small-12 flex-container align-dir-column align-right align-top logo__container">
                <div class="logo__container--animated flex-container align-center-middle">
                    <span class="logo__item" id="logo__item--1">J</span>
                    <span class="logo__item" id="logo__item--2">J</span>
                    <span class="logo__item" id="logo__item--3">J</span>
                </div>
                <h1 class="logo__text"> UN TAN</h1>
            </div>
            <div class="columns large-6 medium-6 small-12 flex-container align-dir-column align-top align-center callout-circle__container callout-circle__container--homepage">
                <div class="callout-circle callout-circle__homepage flex-container align-dir-column align-center-middle">
                    <p>Hello world!</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">

    </div>
{% endblock %}