{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}{{  post.title | lower }} | jun tan{% endblock %}
{% block meta %}
    <!-- fb og -->
    <meta property="og:url"
          content="https://juntan.me"/>
    <meta property="og:title" content="{{ post.title | lower }} | jun tan"/>
    <meta property="og:description" content="coder, designer, photographer"/>
    <meta property="og:image"
          content="https://s3.amazonaws.com/juntan-portfolio/{{ post.thumbnail }}"/>
    <!-- twitter cards -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@jtan____">
    <meta name="twitter:title" content="{{ post.title | lower }} | jun tan">
    <meta name="twitter:description" content="coder, designer, photographer">
    <meta name="twitter:image" content="https://s3.amazonaws.com/juntan-portfolio/{{ post.thumbnail }}' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row row__post flex-container align-spaced">
            <!-- Header -->
            <div class="columns large-8 medium-8 small-12 flex-container align-start flex-dir-column container container--align-left">
                <div class="post--meta">
                    <h1 class="heading">{{ post.title | lower }}</h1>
                    {% if post.date %}
                        <p class="body body__italic">{{ post.date | date:"F o" }}</p>
                    {% endif %}
                </div>
                <div class="post--container">
                    {% autoescape off %}
                        {{ post.content }}
                    {% endautoescape %}
                </div>
            </div>
            <div class="columns large-4 medium-4 small-12 flex-container align-end flex-dir-column container container--align-right">
                <img src="https://s3.amazonaws.com/juntan-portfolio/{{ post.thumbnail }}" alt="{{ post.title }}" class="responsive-img">
                <a href="/" class="button button__home">home</a>
            </div>
        </div>
    </div>
{% endblock %}