{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}{{ post.title | lower }} | jun tan{% endblock %}
{% block meta %}
    <!-- fb og -->
    <meta property="og:url"
          content="https://juntan.me"/>
    <meta property="og:title" content="{{ post.title | lower }} | jun tan"/>
    <meta property="og:description" content="coder, designer, photographer"/>
    <meta property="og:image"
          content="https://s3.amazonaws.com/juntan-portfolio/{{ post.thumbnail }}"/>
    <!-- twitter cards -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@jtan____">
    <meta name="twitter:title" content="{{ post.title | lower }} | jun tan">
    <meta name="twitter:description" content="coder, designer, photographer">
    <meta name="twitter:image" content="https://s3.amazonaws.com/juntan-portfolio/{{ post.thumbnail }}' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row row__post flex-container align-spaced">
            <div class="large-2 medium-2 small-12 logo--container">
                <a href="/" class="logo highlighted">jun tan</a>
            </div>
            <!-- Header -->
            <div class="columns large-8 medium-8 small-12 flex-container align-start flex-dir-column container container--align-left">
                <div class="post--meta">
                    {% if user.is_superuser %}
                        <a href="/admin/portfolio/post/{{ post.id }}" class="button button__home">Edit</a>
                    {% endif %}
                    <h1 class="heading">{{ post.title | lower }}</h1>
                    {% if post.date %}
                        <p class="body body__italic">{{ post.date | date:"F o" }}</p>
                    {% endif %}
                </div>
                <div class="post--container">
                    {% autoescape off %}
                        {{ post.content }}
                    {% endautoescape %}
                </div>
                <h5 class="related__header">related works:</h5>
                <div class="related">
                    {% if not related_posts %}
                        <p>coming soon...</p>
                    {% else %}
                        {% for post in related_posts %}
                        <ul class="related__post">
                            <li>
                                <a class="body" href="/posts/{{ post.slug }}">{{ post.title }}</a>
                            </li>
                        </ul>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
            <div class="columns large-2 medium-2 small-12 flex-container align-end flex-dir-column container container--align-right">
            </div>
        </div>
    </div>
{% endblock %}