// global background for the body

html, body {
  overflow-x: hidden;
}

body {
  background: $theme-gray;
}

a {
  font-weight: bold;

  &:hover {
    @include fake-underline($text-color);
  }
}


.footer {
  padding: 2em;
  .footer-text {
    font-size: 1rem;
    font-weight: bold;
  }
}

div.columns {
  @include media-query(medium) {
    padding: 0 2em;
  }
}
