// Styles applied across the site

html, body {
  overflow-x: hidden;
}

body {
  background: #fff;
  padding-top: 3.75%;
}

// block-level elements

// rows form the crux of the layout - these override default row styles
.row {
  padding-top: 3.75%;

  @include media-query(medium) {
    padding-top: 5%;
  }
}

.row__about {
  @include media-query(medium) {
    flex-direction: column-reverse;
  }
}

.row__archive {
  @include media-query(medium) {
    flex-direction: column;

    .columns.large-12 {
      margin-bottom: 1em;
    }
  }
}

// containers
.container--align-left {
  align-items: flex-start;

  @include media-query(medium) {

  }

  &.container--text {
    * {
      font-weight: $font-weight-bold;
    }
  }

}

.container--align-right {
  align-items: flex-end;
  text-align: right;

  &.container--text {
    * {
      font-weight: $font-weight-normal;
    }
  }
}

.container__list {
  margin-top: auto;
}

// typography
h3 {
  font-weight: $font-weight-bold;
}
a {
  color: $link-color;
  text-decoration: underline;

  &:hover {
    color: $theme-yellow;
  }
}

// edit ul/ol line height
ul, ol {
  line-height: 2.5;
}

.heading {
  font-weight: $font-weight-bold;

  &.heading--name {
    margin-bottom: 2em;

    @include media-query(medium) {
      font-size: 2.5em;
      margin-bottom: 1em;
    }
  }

  &.heading--homepage {
    @include media-query(medium) {
      align-self: flex-start;
      font-size: 2.5em;
      text-align: left;
    }
  }
}

.body {
  font-weight: $font-weight-normal !important;
  &.body--large {
    font-size: 1.5rem;
  }
  &.body--xlarge {
    font-size: 2rem;
  }

  &.body__italic {
    font-style: italic;
  }
}

// lazy load images

.lazy {
  -webkit-transition: opacity 500ms ease-in-out;
  -moz-transition: opacity 500ms ease-in-out;
  -ms-transition: opacity 500ms ease-in-out;
  -o-transition: opacity 500ms ease-in-out;
  transition: opacity 500ms ease-in-out;
  opacity: 0;
}

.lazy.lazy-loaded {
  opacity: 1;
}

// highlighted elements
.highlighted {
  background-color: $theme-yellow;
  color: #000;
  padding: .25rem;
  width: 100%;
}

// edit selection color
::selection {
  background: $theme-yellow; /* WebKit/Blink Browsers */
  color: #000;
  opacity: 1;
}
::-moz-selection {
  background: $theme-yellow; /* Gecko Browsers */
  color: #000;
  opacity: 1;
}

.footer {
  margin-top: 3.75%;
  padding: 3.75% 2em;
  .footer-text {
    font-size: 1rem;
  }
}

div.columns {
  @include media-query(medium) {
    padding: 0 2em;
  }
}


[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}