// rows form the crux of the layout - these override default row styles
.row {
  padding-top: 3.75%;
}
.row__navigation {
  padding-bottom: 7.5%;
}

.row__skill {
  border-bottom: 4px solid #000;
  padding-bottom: 3.75%;
}

.container__description {
  background: #000;
  padding-bottom: 3.75%; // fill in for missing row padding-top

  .row__description {
    color: #fff;
  }
}

// containers
.container--align-left {
  align-items: flex-start;

  &.container--text {
    * {
      font-weight: $font-weight-bold;
    }
  }

}

.container--align-right {
  align-items: flex-end;
  text-align: right;

  &.container--text {
    * {
      font-weight: $font-weight-normal;
    }
  }
}

.container__list {
  margin-top: auto;
}

.container--work__buttons {
  margin-left: auto;
  width: 60%;
  a.button {
    margin-left: 1.5rem;
  }

  &.container--contact__buttons {
    width: 75%;
  }
}



.container--portfolio {
  flex-wrap: wrap;
  padding-top: 3.5%;

  .container--item {
    background-color: $theme-gray;
    flex: .3 auto;
    height: 15em;
    padding: 0;
    width: 33%;

    &:hover {
      background: $theme-yellow;
    }

    @include media-query(large) {
      flex: .5 auto;
      width: 50%;
    }

    @include media-query(medium) {
      flex: 1 auto;
      width: 100%;
    }
  }
}

// typography
.heading {
  &.heading--name {
    margin-bottom: 2em;
  }
}

.body {
  &.body--large {
    font-size: 1.5rem;
  }
}

// special styles
.portrait {
  background: url("/static/assets/portrait.jpg") no-repeat center center;
  -webkit-background-size: cover;
  background-size: cover;
  height: 15em;
  width: 15em;
}