.row__homepage {
  margin-bottom: 4em;

  &.row__introduction {
    margin-bottom: 6em;

    @include media-query(medium) {
      margin-bottom: 2em;
    }
  }

  &.row__about {
    margin-bottom: 0;
  }

}

.homepage-header {
  font-weight: bold;
  margin-bottom: 0;
}

.homepage-header__container {
  width: 100%;
  .homepage-header {
    margin-right: 1rem;
  }

  .homepage-header__link {
    align-self: flex-end;
  }
}

.homepage-header__button {
  border-radius: 50%;
  display: flex !important;
  height: 2.5em;
  width: 2.5em;
  margin: 0;

  &.homepage-header__button-resume {
    margin-right: 1em;
  }

  &:hover {
    background: $theme-cyan;
  }
}

.homepage-item__container {
  flex-wrap: wrap;
}

.homepage-item {
  margin-top: 1em;
  width: auto; //30% if we don't have square images

  &:last-of-type {
    margin-right: 0;
  }

  @include media-query(medium) {
    width: 100%;
  }

  .homepage-item__thumbnail {
    background-image: url(http://via.placeholder.com/300x300);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    min-height: 325px;
    min-width: 325px;

    @include media-query(medium) {
    }
  }

  .homepage-item__title {
    margin-top: .5rem;
    font-weight: bold;
  }

  .homepage-item__date {
    font-size: .9rem;
  }
}

// homepage about

.row__about {
  background: $theme-blue;
  max-width: 100%;
  div.columns.homepage-about__container {
    padding-top: 1rem;
    max-width: 75rem;
  }
}

div.homepage-avatar__container {
  padding-left: 0;
}

img.homepage-avatar {
  height: auto;
  width: 100%;
}

.homepage-copy {
  font-size: 1.2rem;
  &.homepage-copy__bio {
    width: 75%;
  }
}


#homepage-resume {
  font-weight: bold;
  font-size: 1.25rem;
}


.homepage-resume__container {
  margin-bottom: 2em;
  width: auto;
}

.homepage-contact__link {
  font-weight: bold;
  font-size: 1.25rem;
}