// homepage specific styles
.row__navigation {
  padding-bottom: 7.5%;
}

.row__portfolio {
  @include media-query(medium) {
    margin-bottom: 3.75%;
  }
}

.row__skill {
  border-bottom: 4px solid #000;
  padding-bottom: 3.75%;
}

.container__description {
  background: #000;
  padding-bottom: 3.75%; // fill in for missing row padding-top

  .row__description {
    color: #fff;
  }
}

.container--work__buttons {
  justify-content: flex-end;
  margin-left: auto;
  width: 60%;
  a.button {
    margin-left: 1.5rem;
  }

  &.container--contact__buttons {
    justify-content: space-between;
    width: 75%;
  }

  @include media-query(medium) {
    flex-direction: column;
    margin-top: 1em;
    width: 100% !important;
    
    a.button {
      margin-bottom:1rem;
      width: 100%;
    }
  }

  @include media-query(small) {
    flex-direction: column;
    a.button {
      margin-bottom: 1rem;
      width: 100%;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}

.container--portfolio {
  min-height: 15em;
  flex-wrap: wrap;
  padding-top: 3.5%;

  &.container--portfolio__archive {
    padding-top: 0;
    margin-bottom: 3.5%;
  }
  .container--item {
    background-color: #000;
    background-size: cover;
    background-position: center center;
    flex: .3 auto;
    height: 15em;
    padding: 0;
    width: 33%;

    &:hover {
      outline: 4px solid black;
      outline-offset: -4px;
    }

    @include media-query(large) {
      flex: .5 auto;
      width: 50%;
    }

    @include media-query(medium) {
      flex: 1 auto;
      margin: 0 0 3.75% 0;
      width: 100%;
    }
  }
}

// special styles
.header--work, .header--contact {
  @include media-query(medium) {
    flex-direction: column;
  }
}

.portrait {
  // fallback portrait url
  background: $theme-gray no-repeat center center;
  -webkit-background-size: cover;
  background-size: cover;
  height: 15em;
  width: 15em;

  @include media-query(medium) {
    margin-bottom: 1em;
  }
}