div.row.jumbotron {
  padding-bottom: 10em;
  width: 100%;

  @include media-query(medium) {
    padding-bottom: 30em;
  }
}

div.jumbotron-content__container {
  @include media-query(medium) {
    flex-direction: column;
  }
}