.logo__container {
  padding-top: 35%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  .logo__container--animated {
    justify-content: flex-start !important;
  }
}

span.logo__item {
  position: absolute;
  font-size: 600px;
  font-weight: 900;
  top: 0;
  transform-origin: 45% 59%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#logo__item--1 {
  color: $theme-cyan;
  opacity: .6;
  top: 5px;
  z-index: 3;
}

#logo__item--2 {
  animation-name: animate-logo__item--2;
  animation-fill-mode: forwards;
  animation-duration: 1s;
  color: $theme-magenta;
  opacity: .5;
  top: 3px;
  z-index: 2;
}

#logo__item--3  {
  animation-name: animate-logo__item--3;
  animation-fill-mode: forwards;
  animation-duration: 1.5s;
  color: $theme-yellow;
  opacity: .8;
  z-index: 1;
}

@keyframes animate-logo__item--2 {
  from { transform: rotate(0); }
  to { transform: rotate(15deg);  }
}

@keyframes animate-logo__item--3 {
  from { transform: rotate(0); }
  to { transform: rotate(30deg);  }
}

.logo__text {
  font-size: 10em;
  font-weight: 900;
  line-height: .9em;
  letter-spacing: 60px;
  text-align: right;
  z-index: 4;
}