// Post-specific styles
span.name {
  font-family: $heading-font-family;
  font-size: 1.4rem;
  font-weight: bold;
}

.home__container {
  align-items: center;
  display: flex;
  justify-content: flex-end;

  a {
    margin-left: 1em;
  }
}

.headline {
  padding: 3em 0;
  text-align: center;
  
  @include media-query(sm) {
    padding: 2em 0;
    text-align: left;
  }

  h1.post__headline {
    font-weight: bold;
    margin-bottom: 0;
  }
}

.post__date {
  font-family: $mono-font-family;
  text-align: left;
}

p > img {
  display: block;
  height: auto !important;
  width: 100% !important;
}

.after-post {
  padding-top: 3em;
}

.related, .contact {
  h3 {
    font-weight: bold;
  }
}

