.row__post {
  @include media-query(medium){
    flex-direction: row-reverse;
    .container--align-right {
      margin-bottom: 2rem;
    }

  }
}

.post--meta {
  border-bottom: 4px solid #000;
  margin-bottom: 2rem;
  width: 100%;
}

.post--container {
  * {
    img {
      border: 4px solid #000;
      height: auto !important;
      margin: .75rem 0;
    }
  }
}