/* Custom CSS with mixins
 * Junyuan Tan, 2018
*/
html {
  background: #fff;
  overflow-x: hidden;
  padding: 2em 10%; }
  @media screen and (max-width: 840px) {
    html {
      padding: 1rem; } }

h1, h3 {
  font-weight: bold; }

a {
  font-size: 14px;
  font-family: "Fira Mono", "SF Mono", "Segoe UI Mono", "Roboto Mono", Menlo, Courier, monospace;
  text-decoration: underline; }
  a:hover {
    color: #5CADDC; }

.footer {
  margin-top: 3em;
  text-align: center; }

.lazy {
  -webkit-transition: opacity 500ms ease-in-out;
  -moz-transition: opacity 500ms ease-in-out;
  -ms-transition: opacity 500ms ease-in-out;
  -o-transition: opacity 500ms ease-in-out;
  transition: opacity 500ms ease-in-out;
  opacity: 0; }

.lazy.lazy-loaded {
  opacity: 1; }

.lazy.lazy-error {
  background: #acb3c2; }

.highlight {
  background-color: #F8E71C;
  color: #000;
  width: 100%; }

::selection {
  background: #F8E71C;
  /* WebKit/Blink Browsers */
  color: #000;
  opacity: 1; }

::-moz-selection {
  background: #F8E71C;
  /* Gecko Browsers */
  color: #000;
  opacity: 1; }

.container {
  margin-bottom: 3em; }
  @media screen and (max-width: 600px) {
    .container {
      margin-bottom: .5em; } }

.navigation {
  text-align: right; }
  .navigation .navigation__link {
    margin-left: 1em; }
    @media screen and (max-width: 840px) {
      .navigation .navigation__link {
        margin-left: 0;
        margin-bottom: 1em; } }

.introduction {
  padding: 5em 0; }
  @media screen and (max-width: 840px) {
    .introduction {
      padding: 3em 0; } }

.introduction__name {
  font-size: 2.5em;
  font-weight: bold;
  margin-bottom: 0; }

.introduction__projects {
  font-size: 1.1rem;
  margin: 4rem 0 .5rem 0;
  text-align: center; }

.introduction__icon {
  text-align: center; }

.category__header h3 {
  font-weight: bold;
  margin-bottom: 0; }

.category__header p {
  margin-top: 0; }

.category__link {
  text-align: right; }

.category__row {
  margin-bottom: 2em; }

.category__item {
  height: 250px;
  margin-bottom: 3.5em; }
  .category__item:last-of-type {
    margin-right: 0; }
  @media screen and (max-width: 600px) {
    .category__item:first-of-type {
      margin-top: 2em; } }

@media screen and (max-width: 600px) {
  .category__item--home:nth-of-type(1n+4) {
    display: none; } }

.category__image {
  border: 1px solid #000;
  background: #acb3c2;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  height: 100%;
  width: 100%; }

.about__header {
  padding-right: 3em; }
  @media screen and (max-width: 600px) {
    .about__header {
      padding-right: 0; } }
  .about__header h3 {
    font-weight: bold; }

span.name {
  font-family: "Work Sans", -apple-system, -system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  font-size: 1.4rem;
  font-weight: bold; }

.home__container {
  align-items: center;
  display: flex;
  justify-content: flex-end; }
  .home__container a {
    margin-left: 1em; }

.headline {
  padding: 3em 0;
  text-align: center; }
  @media screen and (max-width: 600px) {
    .headline {
      padding: 2em 0;
      text-align: left; } }
  .headline h1.post__headline {
    font-weight: bold;
    margin-bottom: 0; }

.post__date {
  font-family: "Fira Mono", "SF Mono", "Segoe UI Mono", "Roboto Mono", Menlo, Courier, monospace;
  text-align: left; }

p > img {
  display: block;
  height: auto !important;
  width: 100% !important; }

.after-post {
  padding-top: 3em; }

.related h3, .contact h3 {
  font-weight: bold; }

.archive h1 {
  text-align: center; }

/*# sourceMappingURL=../../../../../../../static/css/main.css.map */