@font-face {
    font-family: 'Texta Alt';
    src: url('/static/assets/fonts/texta_alt_light-webfont.woff2') format('woff2'),
    url('/static/assets/fonts/texta_alt_light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Texta Alt';
    src: url('/static/assets/fonts/texta_alt_book-webfont.woff2') format('woff2'),
    url('/static/assets/fonts/texta_alt_book-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Texta Alt';
    src: url('/static/assets/fonts/texta_alt_bold-webfont.woff2') format('woff2'),
    url('/static/assets/fonts/texta_alt_bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Texta Alt';
    src: url('/static/assets/fonts/texta_alt_black-webfont.woff2') format('woff2'),
    url('/static/assets/fonts/texta_alt_black-webfont.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}